.NavBar {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    align-items: stretch;
    display: flex;
    justify-content: space-evenly;
    background-color: #505763;
  }

  .NavBar a {
    color: white;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
  }

  .NavBar a:hover{
    color: #c2c3c4;
  }